#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

#modal {
  position: absolute;
  background: url(../img/tint20.png) 0 0 repeat;
  background: rgba(0,0,0,0.2);
  border-radius: 14px;
  padding: 8px;
}

#content {
  border-radius: 8px;
  background: #fff;
  padding: 20px;
}

#content p {
  white-space: pre;
}

#close {
  position: absolute;
  background: url(../img/close.png) 0 0 no-repeat;
  width: 24px;
  height: 27px;
  display: block;
  text-indent: -9999px;
  top: -7px;
  right: -7px;
}
