/*
// Add your own style rules here, not in css/main.css
// or css/setting.css for easy updating reasons.
*/

@import url("css/button.css");
@import url("css/checkbox.css");

.the-combo-table {
  border-collapse: collapse;
}

.the-combo-table td, .the-combo-table th {
  border: solid 1px #888;
}

.the-combo-table thead {
  background-color: #ccc;
}
/*
.the-combo-table thead th {
  border: solid 1px #888;
}
*/
.the-combo-table .even-row {
  background-color: #eee;
}

