*.Makefile
*.gypcmd
*.mk
*.ncb
*.ninja
*.opensdf
*.props
*.pyc
*.rules
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
# Settings directory for eclipse
/.settings
tags
Thumbs.db
v8.log
/Makefile
/_out
/bitpop_specific/extensions/*.pem
/bitpop_specific/extensions/*.crx
/bitpop_specific/extensions/upload
/build/Debug
/build/Release
/chrome/browser/extensions/default_extensions/*.crx
/native_client/toolchain
/third_party/llvm_build
/build/util/LASTCHANGE
/chrome/app/policy/cloud_policy_backend_header_compile.xml
/chrome/app/policy/cloud_policy_proto_compile.xml
/chrome/browser/search_engines/prepopulated_engines.xml
/chrome/chrome_version_resources.xml
/chrome/common/extensions/api/api.xml
/chrome/installer/mini_installer.xml
/chrome/installer/mini_installer_syzygy.xml
/chrome/installer_util_strings.xml
/chrome/setup.xml
/chrome/setup_unittests.xml
/chrome_frame/chrome_frame_ie.xml
/media/yuv_convert_simd_x86.xml
/net/testserver.log
/out
/out_*
/ppapi/native_client/nacl_irt.xml
/ppapi/native_client/ppapi_lib.xml
/ppapi/native_client/src/shared/ppapi_proxy/nacl_ppapi_browser.xml
/ppapi/native_client/src/shared/ppapi_proxy/ppruntime_lib.xml
/ppapi/native_client/src/trusted/plugin/ppGoogleNaClPluginChrome.xml
/remoting/proto/chromotocol_proto_lib.xml
/remoting/proto/trace_proto_lib.xml
/remoting/remoting_elevated_controller.xml
/remoting/remoting_host_event_logger.xml
/remoting/remoting_host_installation.xml
/remoting/remoting_host_installation_unittest.xml
/remoting/remoting_me2me_host.xml
/remoting/remoting_version_resources.xml
/third_party/yasm/generate_files.xml
/third_party/yasm/yasm.xml
/xcodebuild
