.landmines
*.gypcmd
*.Makefile
*.mk
*.ncb
*.ninja
*.orig
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*~
.*.sw?
*.tmp
.DS_Store
.cproject
.gdb_history
.gdbinit
.metadata
.project
tags
Thumbs.db
v8.log
/Makefile
/_out
/bitpop_specific/extensions/*.pem
/bitpop_specific/extensions/*.crx
/bitpop_specific/extensions/upload
/build/util/LASTCHANGE.blink
/chrome/browser/extensions/default_extensions/*.crx
/native_client/toolchain
/third_party/llvm-build
/third_party/clang_format/bin
/tools/gn/bin
/build/Debug
/build/Purify
/build/Release
Debug/
Release/
/native_client/toolchain/
all.opensdf
build/util/LASTCHANGE
chrome/app/policy/cloud_policy_backend_header_compile.xml
chrome/app/policy/cloud_policy_proto_compile.xml
chrome/cert_logger_proto.xml
chrome/chrome_version_resources.xml
chrome/common/extensions/api/api.xml
chrome/feedback_proto.xml
chrome/in_memory_url_index_cache_proto.xml
chrome/installer/mini_installer.xml
chrome/installer/mini_installer_syzygy.xml
chrome/installer_util_strings.xml
chrome/metrics_proto.xml
chrome/safe_browsing_proto.xml
chrome/safe_browsing_report_proto.xml
chrome/setup.xml
chrome_frame/chrome_frame_ie.xml
media/yuv_convert_simd_x86.xml
native_client/copy_headers.xml
native_client/crt_fini_32.xml
native_client/crt_fini_64.xml
native_client/crt_init_32.xml
native_client/crt_init_64.xml
native_client/prep_toolchain.xml
native_client/src/shared/gio/gio.xml
native_client/src/shared/gio/gio64.xml
native_client/src/shared/gio/gio_lib.xml
native_client/src/shared/imc/imc.xml
native_client/src/shared/imc/imc64.xml
native_client/src/shared/imc/imc_lib.xml
native_client/src/shared/imc/run_sigpipe_test.xml
native_client/src/shared/imc/sigpipe_test.xml
native_client/src/shared/imc/sigpipe_test64.xml
native_client/src/shared/platform/platform.xml
native_client/src/shared/platform/platform64.xml
native_client/src/shared/platform/platform_lib.xml
native_client/src/shared/platform/platform_tests.xml
native_client/src/shared/platform/platform_tests64.xml
native_client/src/shared/srpc/nonnacl_srpc.xml
native_client/src/shared/srpc/nonnacl_srpc64.xml
native_client/src/shared/srpc/srpc_lib.xml
native_client/src/trusted/debug_stub/debug_stub.xml
native_client/src/trusted/debug_stub/debug_stub64.xml
native_client/src/trusted/desc/desc_wrapper.xml
native_client/src/trusted/desc/desc_wrapper64.xml
native_client/src/trusted/desc/nrd_xfer.xml
native_client/src/trusted/desc/nrd_xfer64.xml
native_client/src/trusted/fault_injection/nacl_fault_inject.xml
native_client/src/trusted/fault_injection/nacl_fault_inject64.xml
native_client/src/trusted/gdb_rsp/gdb_rsp.xml
native_client/src/trusted/gdb_rsp/gdb_rsp64.xml
native_client/src/trusted/gdb_rsp/gdb_rsp_test.xml
native_client/src/trusted/gdb_rsp/gdb_rsp_test64.xml
native_client/src/trusted/gio/gio_wrapped_desc.xml
native_client/src/trusted/gio/gio_wrapped_desc64.xml
native_client/src/trusted/handle_pass/browserhandle.xml
native_client/src/trusted/handle_pass/browserhandle64.xml
native_client/src/trusted/handle_pass/handle_lookup.xml
native_client/src/trusted/handle_pass/handle_lookup64.xml
native_client/src/trusted/handle_pass/ldrhandle.xml
native_client/src/trusted/handle_pass/ldrhandle64.xml
native_client/src/trusted/manifest_name_service_proxy/manifest_proxy.xml
native_client/src/trusted/manifest_name_service_proxy/manifest_proxy64.xml
native_client/src/trusted/nacl_base/nacl_base.xml
native_client/src/trusted/nacl_base/nacl_base64.xml
native_client/src/trusted/nonnacl_util/nonnacl_util.xml
native_client/src/trusted/nonnacl_util/nonnacl_util64.xml
native_client/src/trusted/nonnacl_util/nonnacl_util_chrome.xml
native_client/src/trusted/nonnacl_util/nonnacl_util_chrome64.xml
native_client/src/trusted/nonnacl_util/sel_ldr_launcher.xml
native_client/src/trusted/nonnacl_util/sel_ldr_launcher64.xml
native_client/src/trusted/perf_counter/nacl_perf_counter.xml
native_client/src/trusted/perf_counter/nacl_perf_counter64.xml
native_client/src/trusted/platform_qualify/platform_qual_lib.xml
native_client/src/trusted/platform_qualify/platform_qual_lib64.xml
native_client/src/trusted/reverse_service/reverse_service.xml
native_client/src/trusted/reverse_service/reverse_service64.xml
native_client/src/trusted/service_runtime/arch/x86/service_runtime_x86_common.xml
native_client/src/trusted/service_runtime/arch/x86/service_runtime_x86_common64.xml
native_client/src/trusted/service_runtime/arch/x86_32/service_runtime_x86_32.xml
native_client/src/trusted/service_runtime/arch/x86_64/service_runtime_x86_64.xml
native_client/src/trusted/service_runtime/container.xml
native_client/src/trusted/service_runtime/container64.xml
native_client/src/trusted/service_runtime/env_cleanser.xml
native_client/src/trusted/service_runtime/env_cleanser64.xml
native_client/src/trusted/service_runtime/nacl_error_code.xml
native_client/src/trusted/service_runtime/nacl_error_code64.xml
native_client/src/trusted/service_runtime/nacl_xdr.xml
native_client/src/trusted/service_runtime/nacl_xdr64.xml
native_client/src/trusted/service_runtime/sel.xml
native_client/src/trusted/service_runtime/sel64.xml
native_client/src/trusted/service_runtime/sel_ldr.xml
native_client/src/trusted/service_runtime/sel_ldr64.xml
native_client/src/trusted/service_runtime/sel_main_chrome_test.xml
native_client/src/trusted/service_runtime/sel_main_chrome_test64.xml
native_client/src/trusted/simple_service/simple_service.xml
native_client/src/trusted/simple_service/simple_service64.xml
native_client/src/trusted/threading/thread_interface.xml
native_client/src/trusted/threading/thread_interface64.xml
native_client/src/trusted/validator/x86/32/ncvalidate_verbose_x86_32.xml
native_client/src/trusted/validator/x86/32/ncvalidate_x86_32.xml
native_client/src/trusted/validator/x86/64/ncvalidate_verbose_x86_64.xml
native_client/src/trusted/validator/x86/64/ncvalidate_x86_64.xml
native_client/src/trusted/validator/x86/decoder/nc_decoder_x86_32.xml
native_client/src/trusted/validator/x86/decoder/nc_decoder_x86_64.xml
native_client/src/trusted/validator/x86/decoder/nc_opcode_modeling_verbose_x86_32.xml
native_client/src/trusted/validator/x86/decoder/nc_opcode_modeling_verbose_x86_64.xml
native_client/src/trusted/validator/x86/decoder/nc_opcode_modeling_x86_32.xml
native_client/src/trusted/validator/x86/decoder/nc_opcode_modeling_x86_64.xml
native_client/src/trusted/validator/x86/ncval_base_verbose_x86_32.xml
native_client/src/trusted/validator/x86/ncval_base_verbose_x86_64.xml
native_client/src/trusted/validator/x86/ncval_base_x86_32.xml
native_client/src/trusted/validator/x86/ncval_base_x86_64.xml
native_client/src/trusted/validator/x86/ncval_reg_sfi/ncval_reg_sfi_verbose_x86_32.xml
native_client/src/trusted/validator/x86/ncval_reg_sfi/ncval_reg_sfi_verbose_x86_64.xml
native_client/src/trusted/validator/x86/ncval_reg_sfi/ncval_reg_sfi_x86_32.xml
native_client/src/trusted/validator/x86/ncval_reg_sfi/ncval_reg_sfi_x86_64.xml
native_client/src/trusted/validator/x86/ncval_seg_sfi/ncdis_seg_sfi_verbose_x86_32.xml
native_client/src/trusted/validator/x86/ncval_seg_sfi/ncdis_seg_sfi_verbose_x86_64.xml
native_client/src/trusted/validator/x86/ncval_seg_sfi/ncdis_seg_sfi_x86_32.xml
native_client/src/trusted/validator/x86/ncval_seg_sfi/ncdis_seg_sfi_x86_64.xml
native_client/src/trusted/validator/x86/ncval_seg_sfi/ncval_seg_sfi_x86_32.xml
native_client/src/trusted/validator/x86/ncval_seg_sfi/ncval_seg_sfi_x86_64.xml
native_client/src/trusted/validator_x86/nccopy_x86_32.xml
native_client/src/trusted/validator_x86/nccopy_x86_64.xml
native_client/src/trusted/weak_ref/weak_ref.xml
native_client/src/trusted/weak_ref/weak_ref64.xml
native_client/src/trusted/weak_ref/weak_ref_lib.xml
native_client/src/untrusted/irt/irt_browser_lib.xml
native_client/src/untrusted/irt/irt_core_nexe.xml
native_client/src/untrusted/irt_stub/ppapi_stub_lib.xml
native_client/src/untrusted/nacl/imc_syscalls_lib.xml
native_client/src/untrusted/nacl/nacl_dynacode_lib.xml
native_client/src/untrusted/nacl/nacl_dynacode_private_lib.xml
native_client/src/untrusted/nacl/nacl_lib.xml
native_client/src/untrusted/nacl/nacl_lib_glibc.xml
native_client/src/untrusted/nacl/nacl_lib_newlib.xml
native_client/src/untrusted/pthread/pthread_lib.xml
native_client/src/untrusted/pthread/pthreadb_private_lib.xml
ppapi/native_client/nacl_irt.xml
ppapi/native_client/ppapi_lib.xml
ppapi/native_client/src/shared/ppapi_proxy/nacl_ppapi_browser.xml
ppapi/native_client/src/shared/ppapi_proxy/ppruntime_lib.xml
ppapi/native_client/src/trusted/plugin/ppGoogleNaClPluginChrome.xml
remoting/proto/chromotocol_proto_lib.xml
remoting/proto/trace_proto_lib.xml
remoting/remoting_me2me_host.xml
remoting/remoting_version_resources.xml
sync/protocol/sync_proto.xml
third_party/WebKit/Source/WebCore/WebCore.gyp/webcore_bindings_sources.xml
third_party/cacheinvalidation/cacheinvalidation_proto.xml
third_party/ffmpeg/ffmpeg.xml
third_party/libjpeg_turbo/libjpeg.xml
third_party/libphonenumber/libphonenumber.xml
third_party/libvpx/libvpx.xml
third_party/libvpx/simple_decoder.xml
third_party/libvpx/simple_encoder.xml
third_party/yasm/generate_files.xml
third_party/yasm/yasm.xml
tools/json_schema_compiler/test/json_schema_compiler_tests.xml
